/* mCheck_toggleV1.css */
.mCheck_toggleV1 {
  --w: 7em;
  --h: calc( var(--w) / 2);
  --delta: calc((var(--h) / 10)/2);
  --d: calc(var(--h) - var(--delta)*2);
  --bg-on: rgba(32, 9, 109, 1.0);
  --bg-off:  rgba(214, 158, 158, 1.0);
  --bg-on-disabled: rgba(118, 97, 186, 0.5);
  --bg-off-disabled:  rgba(214, 158, 158, 0.5);
  --clr-on: rgba(144, 238, 144);
  --clr-off: rgba(0, 0, 0);
  --clr-on-disabled: rgba(144, 238, 144, 0.8);
  --clr-off-disabled: rgba(0, 0, 0, 0.8);
  --fs: 1.1em;

  box-sizing: border-box;

  input {
    display: none;
  }
  .off {
    display: block;
  }
  .on {
    display: none;
  }

  .button {
    display: inline-block;
    background-color: var(--bg-off);
    width: var(--w);
    height: var(--h);
    border-radius: var(--h);
    cursor: pointer;
    position: relative;
    transition: 0.3s;
  }
  .button::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: var(--d);
    height: var(--d);
    border-radius: 50%;
    margin: var(--delta);
    transition: 0.3s;
  }

  input:checked+.button {
    background-color: var(--bg-on);
  }
  input:checked+.button::before {
    transform: translateX(110%);
    background-color: lightgreen;
  }

  input:checked+.button .off {
    display: none;
  }
  input:checked+.button .on {
    display: block;
  }

  .off {
    font-size: var(--fs);
    font-family: sans-serif;
    position: absolute;
    right: calc((90px - 2 * 5px)/2);
    right: 30px;
    right: calc(var(--d)/6);
    top: calc(var(--h)/2 - 1.5em/2);
    color: var(--clr-off);
    font-weight: 400;
  }
  .on {
    font-size: var(--fs);
    font-family: sans-serif;
    position: absolute;
    left: 30px;
    left: calc(var(--d)/6);
    top: calc(var(--h)/2 - 1.5em/2);
    color: var(--clr-on);
    font-weight: 400;
  }

  &[disabled]{
    pointer-events: none;

    input+.button {
      background-color: var(--bg-off-disabled);
    }
    input:checked+.button {
      background-color: var(--bg-on-disabled);
    }
    .off{
      color: var(--clr-off-disabled);
    }
    .on{
      color: var(--clr-on-disabled);
    }
  }
}
